* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.story-script-regular {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  background-color: #d45c5c;
  width: 100%;
  height: 90px;
  text-align: center;
  font-size: 60px;
  padding-top: 5px;
  font-family: "Story Script", sans-serif;
}

a {
  color: #111111;
  text-decoration: none;
}

.body {
  background-color: #ad3a3a;
}

.cocktails {
  display: flex;
  flex-wrap: wrap;
  background-color: #ad3a3a;
}

.case {
  background-color: #c76868e0;
  width: 100%;
  border: 2px solid #1e0101e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
  margin-bottom: 5px;
}

img {
  width: 20%;
  border: 2px solid #1e0101e0;
  border-radius: 10px;
}

h2 {
  height: 80px;
  font-size: 60px;
  padding-top: 5px;
  font-family: "Tangerine", sans-serif;
  font-weight: bold;
}

p {
  font-family: "Lora", sans-serif;
  font-size: 30px;
  line-height: 2;
  padding-right: 40px;
}
